body {
  font-family: 'Montserrat'; }

a, a:hover, a:focus {
  text-decoration: none; }

.bg-image {
  background-image: url("../../img/bge.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 220vh;
  padding-bottom: 120px;
  background-position: -80px; }

.midium {
  margin: auto 0;
  margin-top: 180px;
  vertical-align: middle; }

.title-top {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: block; }

.arrow-link {
  display: block;
  margin-top: 70px;
  text-align: center; }

.arrow {
  margin: 0 auto;
  width: 40px;
  -webkit-animation: arrow 800ms linear infinite alternate;
  animation: arrow 800ms linear infinite alternate; }

@-webkit-keyframes arrow {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px); } }

@keyframes arrow {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px); } }

.form-row {
  padding-top: 70px;
  margin: 0 120px;
  position: relative;
  top: 100px; }

.form-noon {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  background: none;
  color: white;
  display: block;
  width: 100%;
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease; }

label {
  color: white;
  font-weight: 300; }

select {
  background: red; }

option {
  color: #000 !important;
  border: 5px solid red;
  line-height: 2; }

input:focus, textarea:focus {
  outline: none;
  padding: 20px 20px;
  border-bottom: 2px solid #ffffff; }

select:focus {
  outline: none; }

.form-group {
  margin-bottom: 40px; }

.submit {
  width: 100%;
  border: 1px solid #fff;
  padding: 15px;
  color: #323c51;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  background-color: white;
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease; }

.submit:hover {
  border: 1px solid #fff;
  color: white;
  background-color: #323c51; }

.love {
  display: block;
  margin-top: 20px;
  font-weight: 300;
  color: #fff;
  font-size: 11px; }

.fa-heart {
  color: #ec407a; }

.img-confirm {
  background-color: #323c51;
  height: 100vh;
  vertical-align: middle;
  padding-top: 100px; }

.back {
  position: absolute;
  top: 310px;
  left: 120px;
  margin: 0 auto;
  width: 50%;
  border: 1px solid #fff;
  padding: 15px 50px 15px 55px;
  color: #323c51;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  background-color: white;
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease; }

.back:hover {
  border: 1px solid #fff;
  color: white;
  background-color: #323c51; }
