// Coloring
$navy: #323c51
$white: #ffffff

// Mixin
=transition
	transition: 500ms all ease

// Basic
body
	font-family: 'Montserrat'
a, a:hover, a:focus
	text-decoration: none
// Stylesheet
.bg-image
	background-image: url('../../img/bge.png')
	background-repeat: no-repeat
	background-size: cover
	min-height: 220vh
	padding-bottom: 120px
	background-position: -80px
.midium
	margin: auto 0
	// position: relative
	margin-top: 180px
	vertical-align: middle
.title-top
	text-align: center
	width: 80%
	margin: 0 auto
	display: block
.arrow-link
	display: block
	margin-top: 70px
	text-align: center
.arrow
	margin: 0 auto
	width: 40px
	animation: arrow 800ms linear infinite alternate

@keyframes arrow
	0%, 100%
		transform: translate(0,0)
	// 50%
	// 	transform: translate(0,20px)
	100%
		transform: translate(0,-20px)

.form-row
	padding-top: 70px
	margin: 0 120px
	position: relative
	top: 100px
.form-noon
	border: none
	border-bottom: 1px solid rgba(#fff, 0.3)
	// height: 80px
	padding: 10px 20px
	background: none
	color: white
	display: block
	width: 100%
	+transition
label
	color: white
	font-weight: 300
select
	background: red
	// color: red !important
option
	color: #000 !important
	border: 5px solid red
	line-height: 2
input:focus, textarea:focus
	outline: none
	padding: 20px 20px
	border-bottom: 2px solid $white
select:focus
	outline: none
.form-group
	margin-bottom: 40px
.submit
	width: 100%
	border: 1px solid #fff
	padding: 15px
	color: $navy
	text-transform: uppercase
	letter-spacing: 10px
	text-align: center
	background-color: white
	+transition
.submit:hover
	border: 1px solid #fff
	color: white
	background-color: $navy
.love
	display: block
	margin-top: 20px
	font-weight: 300
	color: #fff
	font-size: 11px
	// margin-bottom: 120px
.fa-heart
	color: #ec407a
.img-confirm
	background-color: $navy
	height: 100vh
	vertical-align: middle
	padding-top: 100px
.back
	position: absolute
	top: 310px
	left: 120px
	margin: 0 auto
	width: 50%
	border: 1px solid #fff
	padding: 15px 50px 15px 55px
	color: $navy
	text-transform: uppercase
	letter-spacing: 5px
	text-align: center
	background-color: white
	+transition
.back:hover
	border: 1px solid #fff
	color: white
	background-color: $navy